<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selamat datang di Cinemativ88</h1>
    <a href="/movies"><button>Film Tersedia</button></a><a href="/jadwal"><button>Jadwal</button></a><a href="/studioTime"><button>Studio Time</button></a>
</body>
</html>