<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form action="/movies/add" method="POST">
        <label for="">Movie Name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="">Released Year</label><br>
        <input type="number" name="released_year" id=""><br>

        <button type="submit">Subumit</button>
    
    </form>
</body>
</html>